<div class="topics">
  <div class="topics__filter">

        <div class="filter__input">
            <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
            <input type="text" class="input" placeholder="Pesquisar" [(ngModel)]="filter" (keyup)="filterChange()">
        </div>

        <div class="p-inputgroup filter__category">
            <span class="p-inputgroup-addon"><i class="pi pi-list"></i></span>

        </div>

        <div class="filter__buttonAdd">
          <button pButton pRipple type="button" icon="pi pi-plus" label="Criar novo tópico" class="p-button-rounded"></button>
        </div>


  </div>
  <div class="topics__post" *ngFor="let topic of topics">
    <div class="topics__icon "
    [ngStyle]="{'background-color': getColor(nameColor(topic.subcategorys!))}">
      <i class="pi pi-comment icon"></i>
    </div>
    <div class="topics__content">

      <h2 class="topics__name" [ngStyle]="{'color': getColor(nameColor(topic.subcategorys!))}">{{topic.name | titlecase}}</h2>
      <p class="topics__desc">{{'Por ' + (topic.author | titlecase) + ' ' + (topic.date | date)}}</p>

      <div class="category__tags" >

        <div class="chip" [ngStyle]="{'border-color': getColor(item.subcategory?.category?.color)}" *ngFor="let item of topic.subcategorys">

          <p>{{item.subcategory?.name}}</p>

        </div>

      </div>


    </div>
    <div class="topcs__reply">
      <p class="topcs__reply-number" [ngStyle]="{'color': getColor(nameColor(topic.subcategorys!))}">{{topic.replys?.length! > 0 ? topic.replys?.length : 0}}</p>
      <p>Respostas</p>
    </div>
    <div class="topcs__lastReply">
      <p class="topcs__lastReply-nome" [ngStyle]="{'color': getColor(nameColor(topic.subcategorys!))}">Jefferson Braga</p>
      <p class="topcs__lastReply-time">Hoje às 11:12</p>
    </div>
  </div>
  <div class="topics__pagination">

  </div>
</div>
