<div class="topics">
  <div class="topics__filter">

    <div class="filter__input input input-icon input-icon-left">
      <span class="icon icon-search"></span>
      <input type="text" placeholder="Pesquisar" [(ngModel)]="filter" (keyup)="filterChange()">
    </div>


    <app-dropdown class="filter__category" [(ngModel)]="categorySelect" [options]="categorys" labelName="name"
      placeholder="Categorias" (change)="categoryChange()"></app-dropdown>

    <button type="button" label="" class="button button-blue" (click)="createTopic()">
      <span class="icon icon-plus"></span>
      Criar novo tópico
    </button>

  </div>
  <div class="topics__post" *ngFor="let topic of topics">
    <div class="topics__icon " [ngStyle]="{'background-color': getColor(nameColor(topic.subcategorys!))}">
      <span class="icon icon-chat"></span>
    </div>
    <div class="topics__content">

      <h2 class="topics__name" [ngStyle]="{'color': getColor(nameColor(topic.subcategorys!))}">{{topic.name |
        titlecase}}</h2>
      <p class="topics__desc">{{'Por ' + (topic.author | titlecase) + ' ' + (topic.date | date)}}</p>

      <div class="category__tags">
        <app-chip *ngFor="let item of topic.subcategorys" [name]="item.subcategory.name"
          [color]=" getColor(item.subcategory.category.color.name)"></app-chip>
      </div>


    </div>
    <div class="topcs__reply">
      <p class="topcs__reply-number" [ngStyle]="{'color': getColor(nameColor(topic.subcategorys!))}">
        {{topic.replys.length! > 0 ? topic.replys.length : 0}}</p>
      <p>Respostas</p>
    </div>
    <div class="topcs__lastReply">
      <p class="topcs__lastReply-nome" [ngStyle]="{'color': getColor(nameColor(topic.subcategorys!))}">{{ topic.author |
        titlecase }}</p>
      <!-- <p class="topcs__lastReply-time">{{ topic.date | date : [ : format [ : timezone [ : locale ] ] ]  }}</p> -->
      <p class="topcs__lastReply-time">{{ topic.date | date : 'EEEE, MMMM d, y' }}</p>
    </div>
  </div>
  <div class="topics__pagination">

  </div>
</div>
