
.icon-search::before{
  content:"\f002" !important;
  font-family: var(--font-icon);
}

.icon-arrow-down::before{
  content:"\f107" !important;
  font-family: var(--font-icon);
}

.icon-x::before{
  content:"\f00d" !important;
  font-family: var(--font-icon);
}

.icon-plus::before{
  content:"\2b" !important;
  font-family: var(--font-icon);
}

.icon-chats::before{
  content:"\f086" !important;
  font-family: var(--font-icon);
}

.icon-chat::before{
  content:"\f4ad" !important;
  font-family: var(--font-icon);
}

.icon-login::before{
  content:"\f2f6" !important;
  font-family: var(--font-icon);
}

.icon-user::before{
  content:"\f007" !important;
  font-family: var(--font-icon);
}

.icon-password::before{
  content:"\f023" !important;
  font-family: var(--font-icon);
}

.icon-eye::before{
  content:"\f06e" !important;
  font-family: var(--font-icon);
}

.icon-eye-slash::before{
  content:"\f070" !important;
  font-family: var(--font-icon);
}
