<section class="header">

  <h1 class="header__title">Forum</h1>

  <nav class="header__nav">

    <ul class="nav__action">

      <li>
        <button type="button" routerLink="/home" class="button button-gray">Home</button>
      </li>

      <li>
        <button type="button"  class="button button-gray">Categorias</button>
      </li>

      <li>
        <button type="button" class="button button-gray">Contato</button>
      </li>

      <li>
        <button type="button" class="button button-gray" (click)="openDialog()">Entrar<span class="icon icon-login"></span></button>
      </li>

    </ul>

  </nav>

</section>
