<section class="header">

  <h1 class="header__title">Forum</h1>

  <nav class="header__nav">

    <ul class="nav__action">

      <li>
        <button pButton pRipple type="button" label="Home" class="p-button-secondary p-button-text aciton__button"></button>
      </li>

      <li>
        <button pButton pRipple type="button" label="Categorias" class="p-button-secondary p-button-text aciton__button"></button>
      </li>

      <li>
        <button pButton pRipple type="button" label="Contato" class="p-button-secondary p-button-text aciton__button"></button>
      </li>

    </ul>

  </nav>

</section>
