<section class="container">
  <div class="topic">
    <div class="topic__icon ">
      <i class="pi pi-comment icon"></i>
    </div>
    <div class="topic__content">
      <h2 class="topic__title">Olá, Estou Tentando Executar O Projeto No Android Studio Mas Está Dando Erro</h2>
      <p class="topic__desc">Por Carlos Jefferson Braga Alves Mar 18, 2022</p>
      <div class="topic__tags">
        <div class="chip" >

          <p>React Native</p>

        </div>
      </div>
      <div class="topic__question">
        <p>
          Qual seria o melhor local para deixar informado qual é o objetivo da sprint para que fique transparente para todos os envolvidos?
        </p>
      </div>
    </div>
  </div>
  <div class="reply__form">
    <app-reply-form></app-reply-form>
  </div>
</section>
