<div class="topics">
  <div class="topics__filter">

        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Username">
        </div>

  </div>
  <div class="topics__post">
    <div class="topics__icon ">
      <i class="pi pi-align-left icon"></i>
    </div>
    <div class="topics__content">

      <h2 class="topics__name">Planejamento de um Projeto e BDD</h2>
      <p class="topics__desc">Por Carlos Jefferson B. 16/03/2022 19:44</p>

      <div class="category__tags">

        <div class="chip">

          <p>teste</p>

        </div>

      </div>


    </div>
    <div class="topcs__reply">
      <p class="topcs__reply-number" [ngStyle]="{'color': getColor('blue')}">10</p>
    <p>Respostas</p>
    </div>
  </div>
</div>
