.topics{
  width: 100%;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: 50px;
}

.topics__filter{
  padding: 1em 3em;
  display: flex;
}

.filter__input{
  width: 100%;
  padding: 0 .5em;
}

::ng-deep .p-dropdown{
  min-height: 47px !important;
  width: 100% !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid var(--gray-300);
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;

}

.filter__category{
  width: 40%;
}

.filter__buttonAdd{
  width: 30%;
  padding: 0 .5em;
}

.topics__post{
  display: flex;
  padding: 1.5em 1em;
  border: 1px solid var(--gray-300);
  border-right: 0;
  border-left: 0;
}


.topics__icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 1em;
  background-color: var(--blue-500);
  border-radius: 50px;
  width: 50px;
  height: 50px;

  .icon{
    font-size: 1em;
    color: white;
  }
}

.topics__name{
  font-family: var(--font-family);
  font-size: 1.3rem;
}

.topics__desc{
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--gray-500);
}

.category__tags{
  display: flex;
}

.topics__content{
  width: 100%;
  padding-right: 10px;
}

.topcs__reply, .topcs__lastReply{
  font-family: var(--font-family);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topcs__reply-number{
  font-size: 1.2rem;
  font-weight: 900;
}

.topcs__lastReply{
  width: 20em;
  margin-left: 10px;
  align-items: flex-end;
}

.topcs__lastReply-nome{
  font-size: 1.2rem;
}

.topcs__lastReply-time{
  color: var(--gray-500);
}

.topics__pagination{
  border-radius: 50px;
}

::ng-deep .p-paginator{
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--gray-100);

  .p-dropdown{
    border-radius: 30px;
  }
}
