::ng-deep .p-editor-container .p-editor-toolbar{
    border-top-right-radius: 30px !important;
    border-top-left-radius: 30px !important;
}

::ng-deep .p-editor-container .p-editor-content {
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}


::ng-deep .p-editor-container .p-editor-content .ql-editor {
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}


.reply__button{
  display: flex;
  justify-content: end;
  padding: 1em ;
}


::ng-deep .p-inputgroup {
  width: 50%;
  margin-right: 1em;
}
