.chip{
  background-color: var(--gray-200);
  color: var(--gray-600);
  border-radius: 50px;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  font-family: var(--font-family);
  font-size: 1rem;
  margin-right: 10px;
  border-left: 5px solid;
  box-shadow: 0px 4px 15px -8px #000000;
}
