@import '../src/app/shared/css/reset.scss';
@import '../src/app/shared/css/colors.scss';
@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;900&family=Raleway:wght@100&display=swap';
@import '../src/app/shared/css/button.scss';


:root{
  --font-family: 'Nunito Sans', sans-serif;
}


body{
  background-color: var(--surface-50);
}


.container{
  padding: 1em 1em;
  height: 100%;
  margin: 0 10em;
 // background-color: var(--surface-100);
}




input{
  border: 1px solid var(--gray-300);
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  width: 100%;
}


.select{
  min-height: 42px;
  border: 1px solid var(--gray-300);
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  padding: 0 15px;
  width: 100%;
}

.p-inputgroup-addon{
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



